extends layout
block jscript
  script(src='/js/main.js')

block title
  title Hello

block body
  body(ng-app="App")
    .container(ng-controller="MainController")
      .row
      	h1.text-center {{title}}  
      	h5.text-center {{message}}       
      hr
      .row
    	.col-xs-4 Branch
    	.col-xs-4 Submiited
    	.col-xs-4 Last Updated
    