extends layout
block jscript
  script(src='/js/main.js')

block title
  title Hello

block body
  body(ng-app="App")
    .container
      .header
        nav
          ul.nav.nav-pills.pull-right
            li
              a(ng-href="#/") Home
            li
              a(ng-href="/admin") Admin
            li 
              a(ng-href="#/about") About

      h1.text-center {{Title}}        
      p.text-center {{message}}
       
      hr
      .row(ng-view)
    
      hr
        